binds {
  Super+E { spawn "nautilus"; }
  Super+Space { spawn "rofi" "-show" "drun"; }
  Super+Shift+Space { spawn "rofi" "-show" "run"; }
  Super+Return { spawn "kitty"; }
  XF86AudioPrev { spawn "playerctl previous"; }
  XF86AudioPlay { spawn "playerctl play-pause"; }
  XF86AudioNext { spawn "playerctl next"; }
  Super+Q { close-window; }
  Super+Shift+Q { spawn "xkill"; }
  Super+T { reset-window-height; }
  Super+S { toggle-window-floating; }
  Super+F { fullscreen-window; }
  Super+H { move-column-left; }
  Super+Shift+H { move-window-down; }
  Super+J { move-window-up; }
  Super+Shift+J { move-column-right; }
  Super+K { move-column-left; }
  Super+Shift+K { move-window-down; }
  Super+L { move-window-up; }
  Super+Shift+L { move-column-right; }
  Super+1 { focus-workspace 1; }
  Super+Shift+1 { move-column-to-workspace 1; }
  Super+2 { focus-workspace 2; }
  Super+Shift+2 { move-column-to-workspace 2; }
  Super+3 { focus-workspace 3; }
  Super+Shift+3 { move-column-to-workspace 3; }
  Super+4 { focus-workspace 4; }
  Super+Shift+4 { move-column-to-workspace 4; }
  Super+5 { focus-workspace 5; }
  Super+Shift+5 { move-column-to-workspace 5; }
  Super+6 { focus-workspace 6; }
  Super+Shift+6 { move-column-to-workspace 6; }
  Super+7 { focus-workspace 7; }
  Super+Shift+7 { move-column-to-workspace 7; }
  Super+8 { focus-workspace 8; }
  Super+Shift+8 { move-column-to-workspace 8; }
  Super+9 { focus-workspace 9; }
  Super+Shift+9 { move-column-to-workspace 9; }
  Super+0 { focus-workspace 10; }
  Super+Shift+0 { move-column-to-workspace 10; }
  Super+Shift+P { screenshot; }
}

input {
    keyboard {
        xkb {}
        numlock
    }

    mouse {}
    trackpoint {}
}

output "HDMI-A-2" {
    mode "2560x1080@120"
    scale 1
    transform "normal"
    position x=1920 y=0
}

output "DP-1" {
    mode "1920x1080@120"
    scale 1
    transform "normal"
    position x=0 y=0
}

layout {
    gaps 16
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 4
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    border {
        off
        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts {}
}

hotkey-overlay {}
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
animations {}

